@model WebAppMVC.Models.ProductModel
@using WebAppMVC_Utility;



<div class="col-lg-4 col-md-6 pb-4 filter @Model.Category.Name.Replace(' ', '_')">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left">@Model.Name</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@String.Format("{0:c0}", Model.Price) / шт.</span></label> </div>
        </div>

        <img src="@WC.ImagePath@Model.Image" class="card-img img-fluid rounded shadow mx-auto d-block" />



        <div class="card-body  px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100" style="background-color:palevioletred">@Model.Category.Name</span>
            </div>

            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                <p> @Model.ShortDesc</p>
            </div>
            <div class="col-12 p-1">
                <a class="btn btn-success form-control btn-sm p-2" style="height:40px" asp-controller="Home" asp-route-Id="@Model.Id" asp-action="Details">View Details</a>
            </div>
        </div>
    </div>
</div>
 


@{
    //this.Write("End of file : _IndividualProductCard.cshtml");
}