@model IEnumerable<WebAppMVC.Models.MyDailyJournalModel>

@{
	ViewData["Title"] = "Мой ежедневник";
}

<b>
@* Keep this empty *@
</b>

<div class="container p-3">
	<div class="row pt-4">
		<h2 class="text-primary ">Мой ежедневник</h2>
	</div>
</div>

<br/>

<div class="text-center">
	<a asp-action="Create" asp-controller="MyDailyJournal" class="btn btn-primary">
		Создать новую запись в (Мой ежедневник)
	</a>
</div>

<br/>

@if (Model.Count() > 0)
{
	<table class="table-bordered table-striped table-bordered table-info" style="width:100%">
		<thead>
			<tr>
				<th class="text-center">Выбор</th>
				<th class="text-center">Дата и время</th>
				<th class="text-center">Сообщение</th>
				<th class="text-center">Операции</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model)
			{
				<tr>
					<td width="3%" class="text-center fs-6"><input type="checkbox" name="selectedIds" value="@obj.Id" class="select-item" /></td>
					<td width="10%" class="text-center fs-6">@obj.LogDate.ToString("dd.MM.yyyy HH:mm")</td>
					<td width="60%">@obj.Text</td>
					<td>
						<div class="w-100 btn-group" role="group">
							<a asp-controller="MyDailyJournal" asp-route-Id="@obj.Id" asp-action="Edit" class="btn-sm btn-dark mx-2">
								Edit
							</a>
							<a asp-controller="MyDailyJournal" asp-route-Id="@obj.Id" asp-action="Delete" class="btn-sm btn-danger mx-2">
								Delete
							</a>
							<a asp-controller="MyDailyJournal" asp-route-Id="@obj.Id" asp-action="ShowMoreInfo" class="btn-sm btn-info mx-2">
								Info
							</a>

						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
} 
else
{
	<b>No Data in table!</b>	
}
