@using WebAppMVC_Models.ViewModels
@using WebAppMVC_Utility
@model ProductUserViewModel

<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.ApplicationUser.FullName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.ApplicationUser.PhoneNumber" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="@Model.ApplicationUser.Email" type="text" class="form-control" />
                                    </div>
                                </div>

                                @if( User.IsInRole(WC.AdminRole))
                                {
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Street Address</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.ApplicationUser.StreetAddress" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>City</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.ApplicationUser.City" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>State</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.ApplicationUser.State" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>PostalCode</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="@Model.ApplicationUser.PostalCode" type="text" class="form-control" />
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="col-12 col-lg-5 row">
                                @if (User.IsInRole(WC.AdminRole))
                                {
                                    <div id="dropin-container"></div>
                                    <input id="nonce" name="payment_method_nonce" type="hidden" />
                                }
                            </div>

                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">ИТОГО:</span>
                                    </h4>
                                    @{double totalOrderSum = 0;}
                                    @for(int i = 0; i < Model.ProductList.Count(); i++)
                                    {
                                        <input type="hidden" asp-for="@Model.ProductList[i].Name" />
                                        <input type="hidden" asp-for="@Model.ProductList[i].Id" />
                                        <input type="hidden" asp-for="@Model.ProductList[i].Price" />
                                        <input type="hidden" asp-for="@Model.ProductList[i].TempQty" />

                                        <ul class="list-group mb-3">
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">Наименование: @Model.ProductList.ElementAt(i).Name</h6>
                                                    <small class="text-muted">Цена: @Model.ProductList.ElementAt(i).Price.ToString("c")</small>
                                                    <small class="text-muted">Ко-во: @Model.ProductList.ElementAt(i).TempQty</small>
                                                </div>
                                                <div>
                                                    @{
                                                        var totalByLine = Model.ProductList.ElementAt(i).Price * Model.ProductList.ElementAt(i).TempQty;
                                                        totalOrderSum += totalByLine;
                                                    }
                                                    <div class="text-muted">ИТОГО: @totalByLine.ToString("c")</div>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                </div>
                                <div class="text-info">
                                    ИТОГО по заказу: @totalOrderSum.ToString("c");
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            @if( User.IsInRole(WC.AdminRole))
                            {
                                <button type="submit" onclick="return validateFields()" class="btn btn-success form-control">Зарегистрировать Заказ(Sales)</button>
                            }
                            else
                            {                                
                                <button type="submit"  class="btn btn-primary form-control">Отправить запрос на Заказ(Order)</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br>
@if (User.IsInRole(WC.AdminRole))
{
    <button type="button" onclick="validateFields()" class="btn btn-info form-control" style="width:fit-content">TEST TOAST</button>
}

@section Scripts{


    <script>
        function validateFields()
        {
            var name = document.getElementById("ApplicationUser_FullName").value;
            var phonenumber = document.getElementById("ApplicationUser_PhoneNumber").value;
            var email = document.getElementById("ApplicationUser_Email").value;

            if(name == "" || phonenumber == "" || email == "")
            {   
                showToast('Не заполнены поля: Name, Phone, Email!', "danger", 5000);
                return false;
            }
            
            return true;
        }
    </script>


    
    <script src="https://js.braintreegateway.com/web/dropin/1.45.2/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');

        braintree.dropin.create({
            authorization: client_token,
            container: '#dropin-container'
        }, (error, dropinInstance) => {
            if (error) console.error(error);

            form.addEventListener('submit', event => {
                event.preventDefault();
                dropinInstance.requestPaymentMethod((error, payload) => {
                    if (error) console.error(error);
                    // Step four: when the user is ready to complete their
                    // transaction, use the dropinInstance to get a payment
                    // method nonce for the user's selected payment method,
                    // then add it a the hidden field before submitting the
                    // complete form to a server-side integration
                    document.getElementById('nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
    
}