@using WebApp_Models.ViewModels
@model SalesListVM
 
<form method="get">
	<div class="container p-4 my-3">
		<h2>Управление заказами</h2>
		<div class="border bg-white p-3" style="border-radius:15px;">
			<div class="row">
				<div class="col-12">
					<div class="row" style="padding-top:10px">
						<div class="col-4">
							@Html.Editor("searchName", new { htmlAttributes = new {@class="form-control", @placeholder="Name..."}})
						</div>
						<div class="col-4">
							@Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
						</div>
						<div class="col-4">
							@Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone..." } })
						</div>
					</div>
					<div class="row pt-1">
						<div class="col4">
							@Html.DropDownListFor(u => u.Status, Model.StatusList, "--Статус--", new { @class = "form-control"})
						</div>
						<div class="offset-4 col-4">
							<button type="submit" class="h-100 btn btn-info form-control">
								Найти
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<hr />

<div class="bg-white p-3">
	<ejs-grid id="Grid" dataSource="@Model.SalesTable" allowFiltering="true" allowSorting="true" allowPaging="true">
		<e-grid-filtersettings type="Menu"></e-grid-filtersettings>
		<e-grid-loadingIndicator indicatorType="Shimmer"></e-grid-loadingIndicator>
		<e-grid-pagesettings pageSize="4"></e-grid-pagesettings>

		<e-grid-columns>
			<e-grid-column field="Id" headerText="ID" isPrimaryKey="true" textAlign="Right" width="100"></e-grid-column>
			<e-grid-column field="FullName" headerText="Full name"></e-grid-column>

			<e-grid-column field="Email" headerText="Email"></e-grid-column>
			<e-grid-column field="OrderDate" headerText="Дата заказа" customFormat="@(new { type = "date", format = "dd/MM/yyyy" })"></e-grid-column>
			<e-grid-column field="OrderStatus" headerText="Статус"></e-grid-column>
			<e-grid-column field="PhoneNumber" headerText="Телефон"></e-grid-column>

			<e-grid-column field="Id" headerText="" width="70"
						   template="<a rel='nofollow' href='Sales/Details/${Id}' class='btn btn-primary'>
                    <i class='bi bi-ticket-detailed'></i>">
            </e-grid-column>


		</e-grid-columns>
	</ejs-grid>
</div>

